{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Unicorn Industries</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	 <!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">


</head>
<body class="grey darken-4">


  <nav>
    <div class="nav-wrapper  grey darken-3 lighten-1">
      <a href="{%url 'post:todos'%}" class="brand-logo">Unicorn Industries</a>
      <a href="{%url 'post:todos'%}" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          {%if request.user.is_authenticated%}
          Hola {{request.user.username}}
        <li><a href="{%url 'cuentas:logout'%}">Cerrar Sesión</a></li>
        {%else%}
        <a href="{%url 'cuentas:login'%}"> Inicia sesión </a>
          {%endif%}
        </li>
        <li><a href="{%url 'post:todos'%}">Timeline</a></li>
        {# <li><a href="mobile.html">Mobile</a></li> #}
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li>
          {%if request.user.is_authenticated%}
          Hola {{request.user.username}}
          {%else%}
            <a href="{%url 'cuentas:login'%}"> Inicia sesión </a>
          {%endif%}
        </li>
        <li><a href="{%url 'cuentas:registro'%}">Regístrate</a></li>
        <li><a href="{%url 'post:todos'%}">Timeline</a></li>
      </ul>

    </div>
  </nav>

<div class="container">	
	{% block content %}

	{% endblock content %}
<!-- Page Content goes here -->
</div>

 	<footer class="page-footer  grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer mágico</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/todos">Posts</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Sofia Rivas© 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
    </footer>


	<!--Import jQuery before materialize.js-->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  	<script type="text/javascript">
  	$(document).ready(function(){
  		$(".button-collapse").sideNav();
  	});
  </script>
  <!-- Intercom -->
  <script>
  window.intercomSettings = {
    app_id: "r6xaxuhk"
  };
  </script>



	
</body>
</html>