{% extends 'base.html' %}
{%load static%}

{% block content %}

	<h4 class="center-align blanco">Vuelvete loco y compra un jetpack</h4>
	<div class="row">
		{%for post in posts %}
			<div class="col s12 l6">
			  <div class="card medium grey darken-2">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="{{post.identificador}}">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4 ">{{ post.titulo }}<i class="material-icons right">more_vert</i></span>
			      <p><a href="{{post.get_absolute_url}}">Comprar $$$$</a></p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">{{ post.fecha }}<i class="material-icons right">close</i></span>
			      <p>{{ post.cuerpo }}</p>
			    </div>
			  </div>
		  	</div>	
		{%endfor%}
	</div>

	<h4>Nuevo post:</h4>
	<form action="." method="post">

		{{form.as_p}}
		{% csrf_token %}

			<p><input class="waves-effect waves-light btn indigo" type="submit" value="Publicar Post"></p>


	</form>
 
{% endblock content %}